<div class="container section-title"  >
    <h2>Nos Traitements</h2>
    <p class="des">Des soins dentaires de qualité pour un sourire éclatant</p>
    <p class="des">
        Nous offrons une gamme complète de soins dentaires, réalisés avec du matériel de pointe et dans le respect des normes d'hygiène les plus strictes.
    </p>
  </div>
  
  <div class="container mt-5">
    
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="assets/Consultation.jpg" class="img-fluid gallery-img" alt="Consultation">
            <p class="des">Consultation</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="assets/DétartragePolissage.jpg" class="img-fluid gallery-img" alt="Détartrage et Polissage">
            <p class="des">Détartrage et Polissage</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="assets/endodontie.jpg" class="img-fluid gallery-img" alt="Endodontie">
            <p class="des">Endodontie</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="assets/Orthodontie.jpg" class="img-fluid gallery-img" alt="Orthodontie">
            <p class="des">Orthodontie</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="assets/BlanchimentDentaire.jpg" class="img-fluid gallery-img" alt="Blanchiment Dentaire">
            <p class="des">Blanchiment Dentaire</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="assets/SoinsPréventifs.jpg" class="img-fluid gallery-img" alt="Soins Préventifs">
            <p class="des">Soins Préventifs</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="assets/ChirurgieDentaire.jpg" class="img-fluid gallery-img" alt="Chirurgie Dentaire">
            <p class="des">Chirurgie Dentaire</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="assets/Parodontie .jpg" class="img-fluid gallery-img" alt="Parodontie">
            <p class="des">Parodontie</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="assets/SoinsProthétiques.jpg" class="img-fluid gallery-img" alt="Soins Prothétiques">
            <p class="des">Soins Prothétiques</p>
        </div>
    </div>
  </div>
  
  