<div class="container section-title"  >
    <h2>Nos Traitements</h2>
    <p class="des">Des soins dentaires de qualité pour un sourire éclatant</p>
    <p class="des">
        Nous offrons une gamme complète de soins dentaires, réalisés avec du matériel de pointe et dans le respect des normes d'hygiène les plus strictes.
    </p>
  </div>
  
  <div class="container mt-5">
    
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="assets/Consultation.jpg" class="img-fluid gallery-img" alt="Consultation">
            <p class="des">Consultation</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="assets/DétartragePolissage.jpg" class="img-fluid gallery-img" alt="Détartrage et Polissage">
            <p class="des">Détartrage et Polissage</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="assets/endodontie.jpg" class="img-fluid gallery-img" alt="Endodontie">
            <p class="des">Endodontie</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="assets/Orthodontie.jpg" class="img-fluid gallery-img" alt="Orthodontie">
            <p class="des">Orthodontie</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="assets/BlanchimentDentaire.jpg" class="img-fluid gallery-img" alt="Blanchiment Dentaire">
            <p class="des">Blanchiment Dentaire</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="assets/SoinsPréventifs.jpg" class="img-fluid gallery-img" alt="Soins Préventifs">
            <p class="des">Soins Préventifs</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="assets/ChirurgieDentaire.jpg" class="img-fluid gallery-img" alt="Chirurgie Dentaire">
            <p class="des">Chirurgie Dentaire</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="assets/Parodontie .jpg" class="img-fluid gallery-img" alt="Parodontie">
            <p class="des">Parodontie</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="assets/SoinsProthétiques.jpg" class="img-fluid gallery-img" alt="Soins Prothétiques">
            <p class="des">Soins Prothétiques</p>
        </div>
    </div>
  </div>
  
  
  
  <!-- <div class="container-xl">
      <div class="row">
          <div class="col-md-10 mx-auto">
              <div id="myCarousel" class="carousel slide  carousel-fade"  data-interval="0">
          
              <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>   
              
              <div class="carousel-inner">
                  <div class="carousel-item active  d-flex">
                      <div class="row">
                          <div class="col-md-4">
                              <div class="thumb-wrapper">
                                  <div class="img-box">
                                      <img src="assets/Consultation.jpg" class="img-fluid" alt="">
                                  </div>
                                  <div class="thumb-content">
                                      <h4>Consultation</h4>
                                      <p> Évaluation de la santé bucco-dentaire du patient. Cela inclut l'examen des dents,
                       des gencives, de la langue, et des tissus buccaux.</p>
                                      <a href="#" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
                                  </div>						
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="thumb-wrapper">
                                  <div class="img-box">
                                      <img src="assets/DétartragePolissage.jpg" class="img-fluid" alt="">
                                  </div>
                                  <div class="thumb-content">
                                      <h4>Détartrage et Polissage</h4>
                                      <p>Éliminer la plaque dentaire et le tartre accumulés sur les dents.</p>
                                      <a href="#" class="btn btn-primary">More <i class="fa-regular fa-tooth"></i></a>
                                  </div>						
                              </div>
                          </div>				
                          <div class="col-md-4">
                              <div class="thumb-wrapper">
                                  <div class="img-box">
                                      <img src="assets/endodontie.jpg" class="img-fluid" alt="">
                                  </div>
                                  <div class="thumb-content">
                                      <h4>Endodontie</h4>
                                      <p>Sauver une dent dont la pulpe est infectée ou endommagée.</p>
                                      <a href="#" class="btn btn-primary">More <i class="fa fa-medkit"></i></a>
                                  </div>						
                              </div>					
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item d-flex">
                      <div class="row">
                          <div class="col-md-4">
                              <div class="thumb-wrapper">
                                  <div class="img-box">
                                      <img src="assets/Orthodontie.jpg" class="img-fluid" alt="">
                                  </div>
                                  <div class="thumb-content">
                                      <h4>Orthodontie</h4>
                                      <p>Corriger les anomalies de l'alignement dentaire et des mâchoires (dents de travers, malocclusions).</p>
                                      <a href="#" class="btn btn-primary">More <i class="fa fa-align-left"></i> </a>
                                  </div>						
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="thumb-wrapper">
                                  <div class="img-box">
                                      <img src="assets/BlanchimentDentaire.jpg" class="img-fluid" alt="">
                                  </div>
                                  <div class="thumb-content">
                                      <h4> Blanchiment Dentaire</h4>
                                      <p>Éclaircir les dents pour les rendre plus esthétiques.</p>
                                      <a href="#" class="btn btn-primary">More <i class="fa fa-sun"></i></a>
                                  </div>						
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="thumb-wrapper">
                                  <div class="img-box">
                                      <img src="assets/SoinsPréventifs.jpg" class="img-fluid" alt="">
                                  </div>
                                  <div class="thumb-content">
                                      <h4>Soins Préventifs</h4>
                                      <p>Les soins préventifs sont des mesures prises pour prévenir les maladies dentaires avant qu'elles ne surviennent. Ces soins comprennent l’hygiène dentaire, 
                      les visites régulières chez le dentiste, et les traitements comme les scellants dentaires.</p>
                                      <a href="#" class="btn btn-primary">More <i class="fa fa-shield-alt"></i></a>
                                  </div>						
                              </div>					
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item d-flex">
                      <div class="row">
                          <div class="col-md-4">
                              <div class="thumb-wrapper">
                                  <div class="img-box">
                                      <img src="assets/ChirurgieDentaire.jpg" class="img-fluid" alt="">
                                  </div>
                                  <div class="thumb-content">
                                      <h4> Chirurgie Dentaire</h4>
                                      <p>La chirurgie dentaire regroupe tous les actes chirurgicaux pratiqués par le chirurgien-dentiste pour traiter les pathologies bucco-dentaires plus complexes. Cela inclut l’extraction des dents, 
                      les implants dentaires, ainsi que certaines interventions pour les maladies des gencives ou des mâchoires.</p>
                                      <a href="#" class="btn btn-primary">More <i class="fa fa-cut"></i></a>
                                  </div>						
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="thumb-wrapper">
                                  <div class="img-box">
                                      <img src="assets/Parodontie.jpg" class="img-fluid" alt="">
                                  </div>
                                  <div class="thumb-content">
                                      <h4>Parodontie </h4>
                                      <p>La parodontie est la spécialité dentaire qui s’occupe de la prévention, du diagnostic et du traitement 
                      des maladies des gencives et des tissus de soutien des dents, comme les ligaments et l’os alvéolaire.</p>
                                      <a href="#" class="btn btn-primary">More <i class="fa fa-heartbeat"></i></a>
                                  </div>						
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="thumb-wrapper">
                                  <div class="img-box">
                                      <img src="assets/SoinsProthétiques.jpg" class="img-fluid" alt="">
                                  </div>
                                  <div class="thumb-content">
                                      <h4>Soins Prothétiques</h4>
                                      <p>Les soins prothétiques incluent la fabrication et l'adaptation de prothèses dentaires destinées à remplacer des dents manquantes ou endommagées. Les prothèses peuvent 
                      être fixes (comme les couronnes ou les bridges) ou amovibles (comme les dentiers).</p>
                                      <a href="#" class="btn btn-primary">More <i class="fa fa-procedures"></i> </a>
                                  </div>						
                              </div>					
                          </div>
                      </div>
                  </div>
              </div>
              
          </div>
          </div>
      </div>
  </div> -->
  
