<div class="image-container">
    <img [src]="image.src" alt="Image" class="full-width-image">
    
    <div class="overlay-text">
      <h1>{{ image.title }}</h1> 
      <p>{{ currentDescription }}</p>  
      <a [href]="image.link" class="btn btn-primary">Contactez-nous</a>
    </div>
  </div>
  


  <div class="presentation-container">
    <div class="presentation-image">
        <img src="assets/dentist.jpg" alt="Dr Zied - Dentiste à Kébili">
    </div>
    <div class="presentation-content">
      <h3> Docteur Zied BENJDIR – Dentiste à Kébili, Tunisie</h3>
      <p class="descrip"> Expertise, professionnalisme et écoute au service de votre sourire.</p>
      <p>
        Avec plus de <strong>5 ans d'expérience</strong>, le Dr Zied met son savoir-faire au service de ses patients
        au sein de son <strong>cabinet spécialisé en prothèse fixée et implantologie</strong>. Il allie
        <strong>technologie de pointe, hygiène rigoureuse et approche personnalisée</strong> pour offrir des soins d’excellence.
      </p>
      
      <ul class="features-list">
        <li><i class="fa fa-check-circle"></i> Une écoute attentive et des conseils adaptés</li>
        <li> Des équipements à la pointe de la technologie</li>
        <li> Un respect strict des normes d’hygiène et de stérilisation</li>
        <li> Une approche préventive pour une santé bucco-dentaire optimale</li>
        <li> Un cadre chaleureux et rassurant</li>
        <li> Une équipe professionnelle et bienveillante</li>
        <li> Des soins doux et adaptés à chaque patient</li>
        <li> Un personnel qualifié et multilingue</li>
      </ul>
  
      <p>Situé à Kébili, à proximité des commodités et facile d’accès.</p>
  
      <a href="https://dentistetunisie.com/new/contactez-nous/" class="btn-contact">
         Prendre rendez-vous
      </a>
    </div>
  
   
  </div>
  





  





<!-- <h2 class="text-center mb-4">Nos Traitements</h2>
<p class="text-center mb-5">
  Notre équipe médicale vous offre une solution dentaire pour toutes les situations cliniques.
</p>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
   
    <div *ngFor="let slide of slides; let i = index" class="carousel-item" [class.active]="i === activeIndex">
      <div class="row text-center">
        <div class="col-4">
          <img src="assets/c3.jpg" class="d-block w-100 rounded shadow-lg" alt="slide.alt1">
        </div>
        <div class="col-4">
          <img src="assets/c2.jpg" class="d-block w-100 rounded shadow-lg" alt="slide.alt2">
        </div>
        <div class="col-4">
          <img src="assets/c3.jpg" class="d-block w-100 rounded shadow-lg" alt="slide.alt3">
        </div>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" (click)="prevSlide()">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Précédent</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" (click)="nextSlide()">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Suivant</span>
  </button>
</div>

 -->

<!-- <div class="container mt-5 slide">
    <h2 class="text-center">Nos Traitements</h2>
    <p class="text-center">
      Notre équipe médicale vous offre une solution dentaire pour toutes les
      situations cliniques.
    </p>
  
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        
        <div class="carousel-item active">
          <div class="row text-center">
            <img src="assets/c2.jpg" class="d-block w-100 rounded" alt="Blanchiment Dentaire">
            <div class="mt-3">
              <h5>Le Blanchiment Dentaire</h5>
              <p>
                Il permet d’éclaircir la couleur des dents en appliquant un produit
                de blanchiment. Une séance sera réalisée au cabinet.
              </p>
            </div>
          </div>
        </div>
        
        <div class="carousel-item">
          <div class="row text-center">
            <img src="assets/c-dentaire.png" class="d-block w-100 rounded" alt="Orthodontie Invisible">
            <div class="mt-3">
              <h5>L’Orthodontie Invisible</h5>
              <p>
                C’est une solution confortable et esthétique pour aligner les dents
                par une série de gouttières transparentes.
              </p>
            </div>
          </div>
        </div>
        
        <div class="carousel-item">
          <div class="row text-center">
            <img src="assets/c2.jpg" class="d-block w-100 rounded" alt="Traitement des Fluoroses">
            <div class="mt-3">
              <h5>Le Traitement des Fluoroses Dentaires</h5>
              <p>
                Il comporte différentes phases : le blanchiment, la micro abrasion
                et l’infiltration à la résine composite.
              </p>
            </div>
          </div>
        </div>
      </div>
  
      
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Précédent</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Suivant</span>
      </button>
    </div>
  </div> -->
  