<div class="image-container">
    <img [src]="image.src" alt="Image" class="full-width-image">
    
    <div class="overlay-text">
      <h1>{{ image.title }}</h1> 
      <p>{{ currentDescription }}</p>  
      <a routerLink="/prendre-rdv" class="btn btn-primary">Contactez-nous</a>
    </div>
  </div>
  
  <div class="presentation-container">
    <div class="presentation-image">
        <img src="assets/dentiste.jpg" alt="Dr Zied - Dentiste à Kébili">
    </div>
    <div class="presentation-content">
      <h3> Docteur Zied BENJDIR – Dentiste à Kébili, Tunisie</h3>
      <p class="descrip"> Expertise, professionnalisme et écoute au service de votre sourire.</p>
      <p>
        Avec plus de <strong>5 ans d'expérience</strong>, le Dr Zied met son savoir-faire au service de ses patients
        au sein de son <strong> cabinet spécialisé en prothèse fixée</strong>. Il allie
        <strong>technologie de pointe, hygiène rigoureuse et approche personnalisée</strong> pour offrir des soins d’excellence.
      </p>
      
      <ul class="features-list">
        <li><i class="fas fa-check-circle"></i> Une écoute attentive et des conseils adaptés</li>
        <li> <i class="fas fa-check-circle"></i> Des équipements à la pointe de la technologie</li>
        <li><i class="fas fa-check-circle"></i> Un respect strict des normes d’hygiène et de stérilisation</li>
        <li><i class="fas fa-check-circle"></i> Une approche préventive pour une santé bucco-dentaire optimale</li>
        <li><i class="fas fa-check-circle"></i> Un cadre chaleureux et rassurant</li>
        <li><i class="fas fa-check-circle"></i> Une équipe professionnelle et bienveillante</li>
        <li><i class="fas fa-check-circle"></i> Des soins doux et adaptés à chaque patient</li>
        <li><i class="fas fa-check-circle"></i> Un personnel qualifié et multilingue</li>
      </ul>
  
      <p>Situé à Kébili, à proximité des commodités et facile d’accès.</p>
  
      <a routerLink="/prendre-rdv" class="btn-contact">
         Prendre rendez-vous
      </a>
    </div>
  
   
  </div>
  
