<app-home></app-home>

<div class="container d-flex justify-content-center screenContainer">

  <div class="table-header">
    <h2>Liste des Patients</h2>
    <button class="btn btn-primary" (click)="showAddPatientForm()">Ajouter un Traitement</button>
  </div>

  <!-- Formulaire pour ajouter un traitement -->
  <div *ngIf="showForm">
    <h3>Ajouter un traitement</h3>
    <form #patientForm="ngForm" (ngSubmit)="addTraitement()">
      <div>
        <label for="nom">Nom du Patient:</label>
        <select id="patient" [(ngModel)]="newTraitement.nom" name="nom" required>
          <option *ngFor="let patient of patients" [value]="patient.nom">{{ patient.nom }} {{ patient.prenom }}</option>
        </select>
      </div>

      <div>
        <label for="traitement">Sélectionner Traitement:</label>
        <select [(ngModel)]="selectedTraitement" name="traitement" required>
          <option *ngFor="let traitement of traitements" [value]="traitement.id">{{ traitement.name }}</option>
        </select>
      </div>

      <div>
        <label for="statut">Statut:</label>
        <select [(ngModel)]="selectedStatus" name="statut" required>
          <option value="Non confirmé">Non confirmé</option>
          <option value="Confirmé">Confirmé</option>
          <option value="En cours">En cours</option>
          <option value="Terminé">Terminé</option>
        </select>
      </div>

      <div>
        <label for="cout">Coût Estimé:</label>
        <input type="number" id="cout" name="cout" ngModel required>
      </div>

      <div>
        <button class="btn btn-success" type="submit">Ajouter</button>
        <button class="btn btn-secondary" type="button" (click)="hideAddPatientForm()">Annuler</button>
      </div>
    </form>
  </div>

  <!-- Tableau des traitements -->
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nom du Patient</th>
        <th>Traitement</th>
        <th>Statut</th>
        <th>Coût Estimé</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patients">
        <td>{{ patient.nom }} {{ patient.prenom }}</td>
        <td>{{ getTraitementName(patient.traitement) }}</td>
        <td>{{ patient.statut }}</td>
        <td>{{ patient.cout }}€</td>
        <td>
          <button class="btn btn-warning" (click)="editTraitement(patient.id)">Modifier</button>
          <button class="btn btn-danger" (click)="deleteTraitement(patient.id)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
