<app-home></app-home>

<div class="container d-flex justify-content-center screenContainer">
  <h2 class="mb-4">Liste des Rendez-vous</h2>

  <button class="btn btn-primary mb-3" (click)="openModal()">Prendre un rendez-vous</button>

  <!-- Modal pour ajouter un rendez-vous -->
  <div *ngIf="isModalOpen" class="modal fade show" tabindex="-1" style="display: block;" id="addAppointmentModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ajouter un Rendez-vous</h5>
          <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #appointmentForm="ngForm" (ngSubmit)="onSubmit(appointmentForm)">
            <div class="mb-3">
              <label for="patient" class="form-label">Patient :</label>
              <select name="patient" [(ngModel)]="newAppointment.patient" class="form-select" required>
                <option *ngFor="let patient of patients" [value]="patient.id">
                  {{ patient.nom }} {{ patient.prenom }}
                </option>
              </select>
            </div>

            <div class="mb-3">
              <label for="date" class="form-label">Date :</label>
              <input type="datetime-local" name="date" [(ngModel)]="newAppointment.date" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="treatment" class="form-label">Traitement :</label>
              <select name="treatment" [(ngModel)]="newAppointment.treatment" class="form-select" required>
                <option *ngFor="let treatment of treatments" [value]="treatment.id">
                  {{ treatment.name }}
                </option>
              </select>
            </div>

            <button type="submit" class="btn btn-primary w-100">Ajouter</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Liste des rendez-vous -->
  <div class="mt-4">
    <h3>Agenda</h3>
    <ul class="list-group">
      <li *ngFor="let appointment of appointments" class="list-group-item">
        <strong>Patient:</strong> {{ appointment.patient }},
        <strong>Date:</strong> {{ appointment.date | date:'yyyy-MM-dd HH:mm' }} ,
        <strong>Traitement:</strong> {{ appointment.treatmentName }}

        <!-- Boutons Modifier et Supprimer -->
        <a (click)="editAppointment(appointment)"> <i class="material-icons text-primary">&#xE254;</i></a>
        <a (click)="deleteAppointment(appointment.id)"><i class="material-icons text-danger">&#xE872;</i></a>
      </li>
    </ul>
  </div>