<app-home></app-home>
<div class="container d-flex justify-content-center screenContainer">
  <div class="container-lg">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-8">
              <h2>Liste des <b>Patients</b></h2>
            </div>
            <div class="col-sm-4">
              <button type="button" class="btn btn-primary" (click)="addPatient()">
                <i class="fa fa-plus"></i> Ajouter
              </button>
            </div>
          </div>
        </div>

        <table class="table table-bordered mt-3">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Téléphone</th>
              <th>Date de Naissance</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let patient of patients; let i = index">
              <td *ngIf="!patient.isEditing" (click)="editPatient(i)">
                {{ patient.nom }}
              </td>
              <td *ngIf="patient.isEditing" contenteditable="true" (blur)="updatePatient($event, i, 'nom')">
                {{ patient.nom }}
              </td>

              <td *ngIf="!patient.isEditing" (click)="editPatient(i)">
                {{ patient.prenom }}
              </td>
              <td *ngIf="patient.isEditing" contenteditable="true" (blur)="updatePatient($event, i, 'prenom')">
                {{ patient.prenom }}
              </td>

              <td *ngIf="!patient.isEditing" (click)="editPatient(i)">
                {{ patient.telephone }}
              </td>
              <td *ngIf="patient.isEditing" contenteditable="true" (blur)="updatePatient($event, i, 'telephone')">
                {{ patient.telephone }}
              </td>

              <td *ngIf="!patient.isEditing" (click)="editPatient(i)">
                {{ patient.dateNaissance }}
              </td>
              <td *ngIf="patient.isEditing" contenteditable="true" (blur)="updatePatient($event, i, 'dateNaissance')">
                {{ patient.dateNaissance }}
              </td>

              <td>
                <a (click)="deletePatient(i)" title="Supprimer">
                  <i class="material-icons text-danger">&#xE872;</i>
                </a>
                <a *ngIf="!patient.isEditing" (click)="editPatient(i)" title="Éditer">
                  <i class="material-icons text-primary">&#xE254;</i> <!-- Icône Éditer -->
                </a>
                <a *ngIf="patient.isEditing" (click)="savePatient(i)" title="Sauvegarder">
                  <i class="material-icons text-success">&#xE5C8;</i> <!-- Icône Sauvegarder -->
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>