<app-navbar  *ngIf="router.url !== '/login'  && !router.url.startsWith('/dashbord') && !router.url.startsWith('/ajouter-patients') && !router.url.startsWith('/appointments') && !router.url.startsWith('/traitements')"></app-navbar> 

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<app-footer *ngIf="router.url !== '/login'  && !router.url.startsWith('/dashbord') && !router.url.startsWith('/ajouter-patients') && !router.url.startsWith('/appointments') && !router.url.startsWith('/traitements')"></app-footer>
 