

<div class="image-container">
    <img src="assets/c2.jpg" alt="Image" class="full-width-image">
    
    <div class="overlay-text">
      
      <p>Avant et Après - Transformation Consultation</p>  
      
    </div>
  </div>
  



<div class="container mt-5">
   <!-- Galerie "Avant et Après" cachée au départ -->
   <div class="row" id="beforeAfterSection" >
    <div class="col-md-12 text-center">
        <h4 >A quoi ça ressemble après ?</h4>
        
        <p class="des">Le résultat est ici :</p>
        <p><strong>Transformation complète après la consultation !</strong></p>
    </div>
</div>
    <!-- Image d'introduction -->
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="assets/image1.jpg" class="img-fluid same-size-img" alt="Avant Consultation" id="introImage" style="cursor: pointer;">
            <img src="assets/image2.jpg" class="img-fluid same-size-img"  alt="Avant Consultation" id="introImage" style="cursor: pointer;">
           
        </div>
        <div class="col-md-12 text-center">
            <img src="assets/image3.jpg" class="img-fluid same-size-img" alt="Avant Consultation" id="introImage" style="cursor: pointer;">
            <img src="assets/image4.jpg" class="img-fluid same-size-img" alt="Avant Consultation" id="introImage" style="cursor: pointer;">
           
        </div>
        <div class="col-md-12 text-center">
            <img src="assets/image5.jpg" class="img-fluid same-size-img" alt="Avant Consultation" id="introImage" style="cursor: pointer;">
            <img src="assets/image6.jpg" class="img-fluid same-size-img" alt="Avant Consultation" id="introImage" style="cursor: pointer;">
           
        </div>
        <div class="col-md-12 text-center">
            <img src="assets/image7.jpg" class="img-fluid same-size-img"  alt="Avant Consultation" id="introImage" style="cursor: pointer;">
            <img src="assets/image8.jpg" class="img-fluid same-size-img" alt="Avant Consultation" id="introImage" style="cursor: pointer;">
           
        </div>
        <div class="col-md-12 text-center">
            <img src="assets/image9.jpg" class="img-fluid same-size-img"  alt="Avant Consultation" id="introImage" style="cursor: pointer;">
            <img src="assets/image10.jpg" class="img-fluid same-size-img" alt="Avant Consultation" id="introImage" style="cursor: pointer;">
           
        </div>
       
    </div>
    
    
</div>
