<app-home></app-home>
<div class="container my-5 d-flex justify-content-center screenContainer">
  <h1>Tableau de Bord</h1>
  <div class="widgets">
    <div class="widget">👨‍⚕️ Total Patients: {{ totalPatients }}</div>
    <div class="widget">📅 Total Rendez-vous : {{ totalRdvToday }}</div>
    <div class="widget">🏥 Traitements en cours: {{ totalTraitements }}</div>
  </div>

  <div style="display: block; width: 600px;">
    <canvas baseChart 
      [data]="barChartData"
      [options]="barChartOptions"
      chartType="bar">
    </canvas>
  </div>
  
  
</div>
