<div class="container mt-5" id="appointment">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Prendre un rendez-vous</h3>
            <h4>Réservez votre consultation facilement et rapidement.<br> Nous sommes là pour vous accompagner dans votre transformation et améliorer votre bien-être.</h4>
        </div>
    </div>
    
    <div class="row">
       
        <div class="col-md-6 ">
            <h5 >Disponibilités :</h5>
            <ul class="list-unstyled">
                <li><i class="bi bi-calendar-day"></i> Lundi à Vendredi : 08:00 - 19:00</li>
                <li><i class="bi bi-calendar-day"></i> Samedi : 08:00 - 14:00</li>
                <li><i class="bi bi-calendar-day"></i> Dimanche : Fermé</li>
            </ul>
        </div>
        
        <!-- Formulaire de Réservation -->
        <div class="col-md-6 ">
            <h5 >Formulaire de réservation :</h5>
            <form action="/submit-appointment" method="POST" class="appointment-form">
                <div class="form-group">
                    <label for="name">Nom :</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="prenom">Prénom :</label>
                    <input type="text" class="form-control" id="text" name="prenom" required>
                </div>
                <div class="form-group">
                    <label for="phone">Numéro de téléphone :</label>
                    <input type="text" class="form-control" id="phone" name="phone" required>
                </div>
                <div class="form-group">
                    <label for="appointment_date">Date du rendez-vous :</label>
                    <input type="date" class="form-control" id="appointment_date" name="appointment_date" required>
                </div>
                <div class="form-group">
                    <label for="time">Heure :</label>
                    <input type="time" class="form-control" id="time" name="time" required>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Réserver</button>
            </form>
        </div>
    </div>

    <!-- Information de Contact -->
    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <p>Si vous avez des questions ou besoin d'aide, vous pouvez nous contacter au <strong>+216 99 153 853</strong> ou par email à <strong>zied.benjdir@gmail.com</strong>.</p>
        </div>
    </div>
</div>

<div class="responsive-container">
  <iframe

    loading="lazy"
    allowfullscreen
    referrerpolicy="no-referrer-when-downgrade"
     src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d829.7918029964993!2d8.970722095801989!3d33.70462189266775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12566f6104e194f9%3A0x715b46acd66410fb!2zQ2FiaW5ldCBkZW50YWlyZSBkciBaaWVkIEJFTkpESVIvINivLtiy2YrYp9ivINio2YbYrNiv2YrYsQ!5e0!3m2!1sfr!2stn!4v1738797692306!5m2!1sfr!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
  </iframe>
</div>

