/* Effet d'ombre et bordure pour la navbar */
.navbar {
  transition: box-shadow 0.3s ease;
}

.navbar-collapse {
  transition: height 0.3s ease-out;
}

/* Styles pour la navbar */
.navbar-nav .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

/* Bouton de login personnalisé */
.navbar-nav .nav-link.btn-primary {
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.navbar-nav .nav-link.btn-primary:hover {
  background-color: #0056b3;
}

/* Réduction de la taille du texte et alignement sur mobile */
@media (max-width: 991px) {
  .navbar-nav .nav-link {
    font-size: 0.9rem;
  }
}
