<nav class="navbar navbar-expand-lg bg-white shadow fixed-top" style="--bs-bg-opacity: .9;">
    <div class="container d-flex align-items-center">
      
      <a href="#" class="navbar-brand">
        <img src="../../../assets/logoCabinet.jpg" alt="Cabinet Logo" width="125" height="75" class="rounded-circle">
      </a>
  
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse justify-content-end" id="menu">
        <ul class="navbar-nav nav-pills gap-lg-3">
          
          <li class="nav-item">
            <a routerLink="/accueil" class="nav-link active text-dark fw-semibold">Accueil</a>
          </li>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark fw-semibold" routerLink="/nos-traitement" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Nos Traitements
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#"> Urgences Dentaires</a></li>
              <li><a class="dropdown-item" href="#"> Détartrage & Polissage</a></li>
              <li><a class="dropdown-item" href="#"> Blanchiment Dentaire</a></li>
              <li><a class="dropdown-item" href="#"> Traitement des Caries</a></li>
              <li><a class="dropdown-item" href="#">Extraction Dentaire</a></li>
              <li><a class="dropdown-item" href="#"> Implants Dentaires</a></li>
              <li><a class="dropdown-item" href="#"> Facettes Dentaires</a></li>
              <li><a class="dropdown-item" href="#"> Prothèses Dentaires</a></li>
              <li><a class="dropdown-item" href="#"> Orthodontie (Appareils)</a></li>
              <li><a class="dropdown-item" href="#"> Chirurgie Dentaire</a></li>
            </ul>
          </li>
  
          <li class="nav-item">
            <a routerLink="/avant-apres" class="nav-link text-dark fw-semibold">Avant / Après</a>
          </li>
  
          <li class="nav-item">
            <a routerLink="/prendre-rdv" class="nav-link text-dark fw-semibold"> Prendre RDV</a>
          </li>
          <li class="nav-item" *ngIf="!isNavbar && !isFooter">
            <a routerLink="/login" class="nav-link btn btn-primary text-dark px-3 rounded-pill"  >Login</a>
          </li>
  
        </ul>
      </div>
    </div>
  </nav>
  